body {
	margin-top: 20px;
	margin-bottom: 4px;
	margin-left: 0px;
	margin-right: 0px;
	font: 11px "Lucida Grande" ;
	font-weight: bold; 
	color: white;
	text-align:center;
	background-image:url('Default.png');
}
