[Desktop Entry]
Name=pgl-gui
Type=Application
Exec=/usr/bin/pgl-gui
Icon=pgl-gui.qt.png
Comment=Graphical User Interface of PeerGuardian Linux
StartupNotify=true
Terminal=false
Categories=Application;Network;
