<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lists</key>
	<array>
		<dict>
			<key>Active</key>
			<true/>
			<key>Allow</key>
			<false/>
			<key>Block HTTP</key>
			<false/>
			<key>Description</key>
			<string>Peer to Peer Monitoring Orginizations</string>
			<key>ID</key>
			<integer>0</integer>
			<key>Last Update</key>
			<date>2004-08-27T04:12:10Z</date>
			<key>URL</key>
			<string>http://blocklist.org/p2p.7z</string>
			<key>User Gen</key>
			<false/>
		</dict>
		<dict>
			<key>Active</key>
			<true/>
			<key>Allow</key>
			<false/>
			<key>Block HTTP</key>
			<true/>
			<key>Description</key>
			<string>Internet Advertisers</string>
			<key>ID</key>
			<integer>1</integer>
			<key>Last Update</key>
			<date>2004-08-27T04:12:10Z</date>
			<key>URL</key>
			<string>http://blocklist.org/ads.7z</string>
			<key>User Gen</key>
			<false/>
		</dict>
		<dict>
			<key>Active</key>
			<true/>
			<key>Allow</key>
			<false/>
			<key>Block HTTP</key>
			<true/>
			<key>Description</key>
			<string>Spyware</string>
			<key>ID</key>
			<integer>2</integer>
			<key>Last Update</key>
			<date>2004-08-27T04:12:10Z</date>
			<key>URL</key>
			<string>http://blocklist.org/spy.7z</string>
			<key>User Gen</key>
			<false/>
		</dict>
		<dict>
			<key>Active</key>
			<true/>
			<key>Allow</key>
			<false/>
			<key>Block HTTP</key>
			<false/>
			<key>Description</key>
			<string>Government Ogranizations</string>
			<key>ID</key>
			<integer>3</integer>
			<key>Last Update</key>
			<date>2004-08-27T04:12:10Z</date>
			<key>URL</key>
			<string>http://blocklist.org/gov.7z</string>
			<key>User Gen</key>
			<false/>
		</dict>
		<dict>
			<key>Active</key>
			<true/>
			<key>Allow</key>
			<false/>
			<key>Block HTTP</key>
			<true/>
			<key>Description</key>
			<string>Bogus Addresses</string>
			<key>ID</key>
			<integer>4</integer>
			<key>Last Update</key>
			<date>2004-08-27T04:12:10Z</date>
			<key>URL</key>
			<string>http://blocklist.org/bogon.7z</string>
			<key>User Gen</key>
			<false/>
		</dict>
		<dict>
			<key>Active</key>
			<true/>
			<key>Allow</key>
			<false/>
			<key>Block HTTP</key>
			<true/>
			<key>Description</key>
			<string>Phishing Ogranizations</string>
			<key>ID</key>
			<integer>5</integer>
			<key>Last Update</key>
			<date>2004-08-27T04:12:10Z</date>
			<key>URL</key>
			<string>http://blocklist.org/phishing.7z</string>
			<key>User Gen</key>
			<false/>
		</dict>
		<dict>
			<key>Active</key>
			<true/>
			<key>Allow</key>
			<false/>
			<key>Block HTTP</key>
			<true/>
			<key>Description</key>
			<string>Bluetack Ads</string>
			<key>ID</key>
			<integer>6</integer>
			<key>Last Update</key>
			<date>2004-08-27T04:12:10Z</date>
			<key>URL</key>
			<string>http://www.bluetack.co.uk/modules.php?name=Downloads&amp;d_op=getit&amp;lid=70</string>
			<key>User Gen</key>
			<false/>
		</dict>
		<dict>
			<key>Active</key>
			<true/>
			<key>Allow</key>
			<false/>
			<key>Block HTTP</key>
			<false/>
			<key>Description</key>
			<string>Bluetack P2P</string>
			<key>ID</key>
			<integer>7</integer>
			<key>Last Update</key>
			<date>2004-08-27T04:12:10Z</date>
			<key>URL</key>
			<string>http://www.bluetack.co.uk/modules.php?name=Downloads&amp;d_op=getit&amp;lid=8</string>
			<key>User Gen</key>
			<false/>
		</dict>
		<dict>
			<key>Active</key>
			<true/>
			<key>Allow</key>
			<false/>
			<key>Block HTTP</key>
			<true/>
			<key>Description</key>
			<string>Bluetack Spy</string>
			<key>ID</key>
			<integer>8</integer>
			<key>Last Update</key>
			<date>2004-08-27T04:12:10Z</date>
			<key>URL</key>
			<string>http://www.bluetack.co.uk/modules.php?name=Downloads&amp;d_op=getit&amp;lid=19</string>
			<key>User Gen</key>
			<false/>
		</dict>
		<dict>
			<key>Active</key>
			<true/>
			<key>Allow</key>
			<false/>
			<key>Block HTTP</key>
			<true/>
			<key>Description</key>
			<string>Bluetack Trojan</string>
			<key>ID</key>
			<integer>9</integer>
			<key>Last Update</key>
			<date>2004-08-27T04:12:10Z</date>
			<key>URL</key>
			<string>http://www.bluetack.co.uk/modules.php?name=Downloads&amp;d_op=getit&amp;lid=20</string>
			<key>User Gen</key>
			<false/>
		</dict>
	</array>
    <key>Update Interval</key>
	<integer>10800</integer>
    <key>Next User List ID</key>
	<integer>1000</integer>
    <key>Log Allowed</key>
	<true/>
    <key>Log Growl</key>
	<false/>
</dict>
</plist>
