<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Auto-Allow DNS</key>
    <true/>
	<key>FilterEnabled</key>
    <true/>
    <key>Lists</key>
	<array>
		<dict>
			<key>Active</key>
			<true/>
			<key>Allow</key>
			<false/>
			<key>Block HTTP</key>
			<false/>
            <key>CacheFile</key>
            <string>p2p.p2b</string>
			<key>Description</key>
			<string>P2P</string>
			<key>Last Update</key>
			<date>2004-08-27T04:12:10Z</date>
            <key>Notes</key>
			<string>P2P and Gov</string>
			<key>URLs</key>
			<dict>
            <key>http://www.bluetack.co.uk/config/level1.zip</key>
			<date>2004-08-27T04:12:10Z</date>
            <key>http://www.bluetack.co.uk/config/level2.zip</key>
			<date>2004-08-27T04:12:10Z</date>
			<key>http://tbg.iblocklist.com/Lists/PrimaryThreats.zip</key>
			<date>2004-08-27T04:12:10Z</date>
			</dict>
			<key>User Gen</key>
			<false/>
            <key>UUID</key>
            <string>ed803aab-2ad2-478f-8ab0-fa95ca639e42</string>
		</dict>
        <dict>
			<key>Active</key>
			<true/>
			<key>Allow</key>
			<false/>
			<key>Block HTTP</key>
			<true/>
            <key>CacheFile</key>
            <string>ads.p2b</string>
			<key>Description</key>
			<string>Ads, Spyware, Bogon, etc</string>
			<key>Last Update</key>
			<date>2004-08-27T04:12:10Z</date>
            <key>Notes</key>
            <string>Ads, Spyware, Phishing, Bogon, Spam, DShield and Hijacked</string>
            <key>URLs</key>
			<dict>
            <key>http://www.bluetack.co.uk/config/spyware.zip</key>
			<date>2004-08-27T04:12:10Z</date>
			<key>http://www.bluetack.co.uk/config/ads-trackers-and-bad-pr0n.zip</key>
			<date>2004-08-27T04:12:10Z</date>
            <key>http://www.bluetack.co.uk/config/bogon.zip</key>
            <date>2004-08-27T04:12:10Z</date>
            <key>http://www.bluetack.co.uk/config/dshield.zip</key>
            <date>2004-08-27T04:12:10Z</date>
            <key>http://www.bluetack.co.uk/config/hijacked.zip</key>
            <date>2004-08-27T04:12:10Z</date>
			</dict>
			<key>User Gen</key>
			<false/>
            <key>UUID</key>
            <string>0669e6e8-7b92-4348-9345-38d873f015d5</string>
		</dict>
		<dict>
			<key>Active</key>
			<true/>
			<key>Allow</key>
			<false/>
			<key>Block HTTP</key>
			<false/>
            <key>CacheFile</key>
            <string>microsoft.p2b</string>
			<key>Description</key>
			<string>Microsoft</string>
			<key>Last Update</key>
			<date>2004-08-27T04:12:10Z</date>
            <key>Notes</key>
            <string>Bluetack</string>
			<key>URLs</key>
            <dict>
            <key>http://www.bluetack.co.uk/config/Microsoft.zip</key>
            <date>2004-08-27T04:12:10Z</date>
			</dict>
			<key>User Gen</key>
			<false/>
            <key>UUID</key>
            <string>651bbe5d-946a-488f-962d-0d01e478b011</string>
		</dict>
		<dict>
			<key>Active</key>
			<false/>
			<key>Allow</key>
			<false/>
			<key>Block HTTP</key>
			<false/>
            <key>CacheFile</key>
            <string>educational.p2b</string>
			<key>Description</key>
			<string>Educational Institutions</string>
			<key>Last Update</key>
			<date>2004-08-27T04:12:10Z</date>
            <key>Notes</key>
            <string>Blocklist and Bluetack Edu</string>
            <key>URLs</key>
			<dict>
			<key>http://www.bluetack.co.uk/config/edu.zip</key>
			<date>2004-08-27T04:12:10Z</date>
            </dict>
			<key>User Gen</key>
			<false/>
            <key>UUID</key>
            <string>20dee10d-ac8d-4e60-b7e2-89e1cf63403d</string>
		</dict>
		<dict>
			<key>Active</key>
			<false/>
			<key>Allow</key>
			<false/>
			<key>Block HTTP</key>
			<true/>
            <key>CacheFile</key>
            <string>spider.p2b</string>
			<key>Description</key>
			<string>Webspider and Bots</string>
			<key>Last Update</key>
			<date>2004-08-27T04:12:10Z</date>
            <key>Notes</key>
            <string>Bluetack</string>
            <key>URLs</key>
			<dict>
            <key>http://www.bluetack.co.uk/config/spider.zip</key>
            <date>2004-08-27T04:12:10Z</date>
            </dict>
			<key>User Gen</key>
			<false/>
            <key>UUID</key>
            <string>8be5358c-daf9-4868-9900-0b42ff3d3b44</string>
		</dict>
	</array>
	<key>Log Allowed</key>
	<true/>
    <key>RestoreFilterState</key>
    <false/>
    <key>Default Lists Ver</key>
    <integer>3</integer>
	<key>Update Interval</key>
	<integer>10800</integer>
</dict>
</plist>
