Source: blockcontrol
Section: net
Priority: optional
Maintainer: jre <jre-phoenix@users.sourceforge.net>
Bugs: mailto:jre-phoenix@users.sourceforge.net
Build-Depends: debhelper (>= 5.0.44), dpatch, po-debconf
Standards-Version: 3.8.0
Homepage: http://moblock-deb.sourceforge.net/
Vcs-Browser: http://moblock-deb.svn.sourceforge.net/viewvc/moblock-deb/blockcontrol/
Vcs-Svn: https://moblock-deb.svn.sourceforge.net/svnroot/moblock-deb/blockcontrol/

Package: blockcontrol
Architecture: any
Depends: ${misc:Depends}, iptables, lsb-base (>= 3.0-6), moblock (>0.9~rc2-19) | nfblock
Recommends: wget, unzip, p7zip | p7zip-full
Suggests: mobloquer
Conflicts: moblock-ipq, moblock-nfq (<= 0.9~rc2-16), iplist, moblock (<0.9~rc2-19), moblock-control (<1.3)
Replaces: moblock-ipq, moblock-nfq, moblock (<0.9~rc2-19), moblock-control
Description: Manage IP blockers
 blockcontrol provides easy ways to interact with IP block daemons (MoBlock or
 NFGuard) and do all common related tasks.
 .
 Features:
  - Start and stop IP block daemons. Or let init do this automatically.
  - Update your blocklist from online sources and local blocklists. Or let cron
    do this automatically on a regular basis.
  - Remove lines by keyword from the blocklists.
  - Handle your iptables rules: use a default setup, easily allow all traffic on
    specific ports and use an allow list, or add your own sophisticated iptables
    rules.
  - Allow all LAN traffic automatically. This feature is still experimental. If
    you are on a public LAN, you probably want to disable this feature.
  - Check the status and test MoBlock.
  - Detects if kernel modules are needed and loads them if necessary.
  - Set verbosity and logging options.
  - Provides LSB 3.1 compatible init script.
  - Daily rotation of the logfiles.
