#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	touch configure-stamp


build: patch build-stamp

build-stamp: configure-stamp
	dh_testdir
	# Add here commands to compile the package.
	# Link some files to debian/ directory until debhelper can handle such
	# cases better. See http://bugs.debian.org/499486
	ln init debian/init
	ln default debian/default
	ln cron.daily debian/cron.daily
	ln if-up debian/if-up
	ln logrotate debian/logrotate
	$(MAKE)
	#docbook-to-man debian/blockcontrol.sgml > blockcontrol.1

	touch $@

clean: clean-patched unpatch
	# This will guarantee that PO files are always synced with templates
	debconf-updatepo


clean-patched:
	dh_testdir
	dh_testroot

	rm -f build-stamp configure-stamp patch

	# Add here commands to clean up after the build process.
	$(MAKE) clean
	# Remove the hardlinks from debian/ directory again. See above.
	find debian -maxdepth 0 -regextype posix-extended -regex "(.*init)|(.*default)|(.*cron.daily)|(.*if-up)|(.*logrotate)" -print0 | xargs -0r rm
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/$*.
	$(MAKE) DESTDIR=$(CURDIR)/debian/blockcontrol install


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs docs/changelog
	dh_installdocs
#	dh_installexamples
	dh_install
#	dh_installmenu
	dh_installdebconf
	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
	dh_installinit
	dh_installcron
	dh_installifupdown
#	dh_installinfo
	dh_installman
#	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb
#	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

patch:
	dpatch apply-all
	echo patched >patch

unpatch:
	dpatch deapply-all
	rm -rf patch debian/patched

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
