[Desktop Entry]
Name=pglgui
Type=Application
Exec=pglgui
Icon=pglgui
Comment=Graphical User Interface of PeerGuardian Linux
StartupNotify=true
Terminal=false
Categories=Network;
