[Desktop Entry]
Name=pgl-gui
Type=Application
Exec=pgl_gui
Icon=pgl-gui
Comment=Graphical User Interface of PeerGuardian Linux
StartupNotify=true
Terminal=false
Categories=Network;
