[Desktop Entry]
Name=pgl-gui
Type=Application
Exec=/usr/bin/pgl_gui
Icon=pgl-gui.png
Comment=Graphical User Interface of PeerGuardian Linux
StartupNotify=true
Terminal=false
Categories=Application;Network;
